EGFIE3_0924/iskola.dtd

<!DOCTYPE iskola
[
        <!ELEMENT iskola (tanar, tanar1, tantargy)>
        <!ELEMENT tanar (nev, szak)>
        <!ATTLIST tanar kod ID #REQUIRED>
        <!ELEMENT nev (#PCDATA)>
        <!ELEMENT szak (#PCDATA)>
        <!ELEMENT tantargy (tnev, osztaly)>
        <!ATTLIST tantargy kod ID #REQUIRED>
        <!ATTLIST tantargy oktato IDREF>
        <!ELEMENT trgynev (#PCDATA)>
        <!ELEMENT osztaly (#PCDATA)>
]>

